(URGENT) Ruby crash - possible multi-threading/parallel-processing concurrency error

About 2 of every 5 runs of a full recompile of my MN project, I get the following Ruby error showing up in my log. I'm running latest local Gems on Windows 11 x64. I'm wondering if this is a multi-threading/parallel-processing concurrency error, since it seems odd that `[relaton-rfc]` needs to fetch the same ZIP file multiple times... 

PS. AFAICT this doesn't appear to impact the final MN output - the NormRefs and Biblio look OK (but I didn't examine every one of the ~200 refs in detail)

```
... snip ...
[relaton-nist] INFO: (FIPS 180-4) Fetching from csrc.nist.gov ...
[relaton-nist] INFO: (FIPS 180-4) Found: `NIST FIPS 180-4 fpd`
[relaton-nist] INFO: (FIPS 186-4) Fetching from csrc.nist.gov ...
[relaton-nist] INFO: (FIPS 186-4) Found: `NIST FIPS 186-4 fpd`
[relaton-nist] INFO: (FIPS 197) Fetching from csrc.nist.gov ...
[relaton-nist] INFO: (FIPS 197) Found: `NIST FIPS 197 fpd`
[relaton-ietf] INFO: (IETF RFC 1321) Fetching from Relaton repository ...
[relaton-ietf] INFO: (IETF RFC 1950) Fetching from Relaton repository ...
[relaton-ietf] INFO: (IETF RFC 1951) Fetching from Relaton repository ...
[relaton-ietf] INFO: (IETF RFC 2045) Fetching from Relaton repository ...
[relaton-ietf] INFO: (IETF RFC 2046) Fetching from Relaton repository ...
[relaton-ietf] INFO: (IETF RFC 2083) Fetching from Relaton repository ...
[relaton-ietf] INFO: (IETF RFC 2315) Fetching from Relaton repository ...
[relaton-ietf] INFO: (IETF RFC 3161) Fetching from Relaton repository ...
[relaton-ietf] INFO: (IETF RFC 3454) Fetching from Relaton repository ...
[relaton-rfc] INFO: Downloaded index from `https://raw.githubusercontent.com/relaton/relaton-data-rfcs/main/index-v1.zip`
[relaton-rfc] INFO: Downloaded index from `https://raw.githubusercontent.com/relaton/relaton-data-rfcs/main/index-v1.zip`
[relaton-rfc] INFO: Downloaded index from `https://raw.githubusercontent.com/relaton/relaton-data-rfcs/main/index-v1.zip`
[relaton-rfc] INFO: Downloaded index from `https://raw.githubusercontent.com/relaton/relaton-data-rfcs/main/index-v1.zip`
C:/Ruby33-x64/lib/ruby/3.3.0/psych/visitors/yaml_tree.rb:267: warning: Exception in finalizer #<Tempfile::Remover:0x0000014fc39f3b48 @pid=17392, @path="C:/Users/peter/AppData/Local/Temp/open-uri20260108-17392-wvgztp">
C:/Ruby33-x64/lib/ruby/3.3.0/tempfile.rb:319:in `unlink': Permission denied @ apply2files - C:/Users/peter/AppData/Local/Temp/open-uri20260108-17392-wvgztp (Errno::EACCES)
	from C:/Ruby33-x64/lib/ruby/3.3.0/tempfile.rb:319:in `call'
	from C:/Ruby33-x64/lib/ruby/3.3.0/psych/visitors/yaml_tree.rb:267:in `visit_String'
	from C:/Ruby33-x64/lib/ruby/3.3.0/psych/visitors/yaml_tree.rb:135:in `accept'
	from C:/Ruby33-x64/lib/ruby/3.3.0/psych/visitors/yaml_tree.rb:331:in `block in visit_Hash'
	from C:/Ruby33-x64/lib/ruby/3.3.0/psych/visitors/yaml_tree.rb:329:in `each'
	from C:/Ruby33-x64/lib/ruby/3.3.0/psych/visitors/yaml_tree.rb:329:in `visit_Hash'
	from C:/Ruby33-x64/lib/ruby/3.3.0/psych/visitors/yaml_tree.rb:135:in `accept'
	from C:/Ruby33-x64/lib/ruby/3.3.0/psych/visitors/yaml_tree.rb:360:in `block in visit_Enumerator'
	from C:/Ruby33-x64/lib/ruby/3.3.0/psych/visitors/yaml_tree.rb:360:in `each'
	from C:/Ruby33-x64/lib/ruby/3.3.0/psych/visitors/yaml_tree.rb:360:in `visit_Enumerator'
	from C:/Ruby33-x64/lib/ruby/3.3.0/psych/visitors/yaml_tree.rb:352:in `visit_Array'
	from C:/Ruby33-x64/lib/ruby/3.3.0/psych/visitors/yaml_tree.rb:135:in `accept'
	from C:/Ruby33-x64/lib/ruby/3.3.0/psych/visitors/yaml_tree.rb:117:in `push'
	from C:/Ruby33-x64/lib/ruby/3.3.0/psych.rb:512:in `dump'
	from C:/Ruby33-x64/lib/ruby/3.3.0/psych/core_ext.rb:13:in `to_yaml'
	from C:/Ruby33-x64/lib/ruby/gems/3.3.0/gems/relaton-index-0.2.17/lib/relaton/index/file_io.rb:180:in `save'
	from C:/Ruby33-x64/lib/ruby/gems/3.3.0/gems/relaton-index-0.2.17/lib/relaton/index/file_io.rb:134:in `load_index'
	from C:/Ruby33-x64/lib/ruby/gems/3.3.0/gems/relaton-index-0.2.17/lib/relaton/index/file_io.rb:162:in `fetch_and_save'
	from C:/Ruby33-x64/lib/ruby/gems/3.3.0/gems/relaton-index-0.2.17/lib/relaton/index/file_io.rb:42:in `read'
	from C:/Ruby33-x64/lib/ruby/gems/3.3.0/gems/relaton-index-0.2.17/lib/relaton/index/type.rb:22:in `index'
	from C:/Ruby33-x64/lib/ruby/gems/3.3.0/gems/relaton-index-0.2.17/lib/relaton/index/type.rb:64:in `search'
	from C:/Ruby33-x64/lib/ruby/gems/3.3.0/gems/relaton-ietf-1.20.0/lib/relaton_ietf/scrapper.rb:42:in `get_rfcs'
	from C:/Ruby33-x64/lib/ruby/gems/3.3.0/gems/relaton-ietf-1.20.0/lib/relaton_ietf/scrapper.rb:32:in `rfc_item'
	from C:/Ruby33-x64/lib/ruby/gems/3.3.0/gems/relaton-ietf-1.20.0/lib/relaton_ietf/scrapper.rb:19:in `scrape_page'
	from C:/Ruby33-x64/lib/ruby/gems/3.3.0/gems/relaton-ietf-1.20.0/lib/relaton_ietf/ietf_bibliography.rb:12:in `search'
	from C:/Ruby33-x64/lib/ruby/gems/3.3.0/gems/relaton-ietf-1.20.0/lib/relaton_ietf/ietf_bibliography.rb:22:in `get'
	from C:/Ruby33-x64/lib/ruby/gems/3.3.0/gems/relaton-ietf-1.20.0/lib/relaton_ietf/processor.rb:19:in `get'
	from C:/Ruby33-x64/lib/ruby/gems/3.3.0/gems/relaton-1.20.1/lib/relaton/db.rb:193:in `fetch_doc'
	from C:/Ruby33-x64/lib/ruby/gems/3.3.0/gems/relaton-1.20.1/lib/relaton/db.rb:495:in `net_retry'
	from C:/Ruby33-x64/lib/ruby/gems/3.3.0/gems/relaton-1.20.1/lib/relaton/db.rb:448:in `fetch_entry'
	from C:/Ruby33-x64/lib/ruby/gems/3.3.0/gems/relaton-1.20.1/lib/relaton/db.rb:436:in `new_bib_entry'
	from C:/Ruby33-x64/lib/ruby/gems/3.3.0/gems/relaton-1.20.1/lib/relaton/db.rb:388:in `check_bibliocache'
	from C:/Ruby33-x64/lib/ruby/gems/3.3.0/gems/relaton-1.20.1/lib/relaton/db.rb:70:in `fetch'
	from C:/Ruby33-x64/lib/ruby/gems/3.3.0/gems/relaton-1.20.1/lib/relaton/db.rb:112:in `block in fetch_async'
	from C:/Ruby33-x64/lib/ruby/gems/3.3.0/gems/relaton-1.20.1/lib/relaton/workers_pool.rb:11:in `block (2 levels) in initialize'
[relaton-rfc] INFO: Downloaded index from `https://raw.githubusercontent.com/relaton/relaton-data-rfcs/main/index-v1.zip`
[relaton-rfc] INFO: Downloaded index from `https://raw.githubusercontent.com/relaton/relaton-data-rfcs/main/index-v1.zip`
[relaton-rfc] INFO: Downloaded index from `https://raw.githubusercontent.com/relaton/relaton-data-rfcs/main/index-v1.zip`
[relaton-rfc] INFO: Downloaded index from `https://raw.githubusercontent.com/relaton/relaton-data-rfcs/main/index-v1.zip`
[relaton-rfc] INFO: Downloaded index from `https://raw.githubusercontent.com/relaton/relaton-data-rfcs/main/index-v1.zip`
[relaton-ietf] INFO: (IETF RFC 1951) Found: `RFC 1951`
[relaton-ietf] INFO: (IETF RFC 3161) Found: `RFC 3161`
[relaton-ietf] INFO: (IETF RFC 2315) Found: `RFC 2315`
[relaton-ietf] INFO: (IETF RFC 2083) Found: `RFC 2083`
[relaton-ietf] INFO: (IETF RFC 2046) Found: `RFC 2046`
[relaton-ietf] INFO: (IETF RFC 1950) Found: `RFC 1950`
[relaton-ietf] INFO: (IETF RFC 1321) Found: `RFC 1321`
[relaton-ietf] INFO: (IETF RFC 2045) Found: `RFC 2045`
[relaton-ietf] INFO: (IETF RFC 3454) Found: `RFC 3454`
[relaton-ietf] INFO: (IETF RFC 3986) Fetching from Relaton repository ...
[relaton-ietf] INFO: (IETF RFC 4013) Fetching from Relaton repository ...
[relaton-ietf] INFO: (IETF RFC 4013) Found: `RFC 4013`
[relaton-ietf] INFO: (IETF RFC 3986) Found: `RFC 3986`
[relaton-ietf] INFO: (IETF RFC 5035) Fetching from Relaton repository ...
[relaton-ietf] INFO: (IETF RFC 5280) Fetching from Relaton repository ...
[relaton-ietf] INFO: (IETF RFC 5480) Fetching from Relaton repository ...
[relaton-ietf] INFO: (IETF RFC 5646) Fetching from Relaton repository ...
[relaton-ietf] INFO: (IETF RFC 5652) Fetching from Relaton repository ...
[relaton-ietf] INFO: (IETF RFC 5755) Fetching from Relaton repository ...
[relaton-ietf] INFO: (IETF RFC 5816) Fetching from Relaton repository ...
[relaton-ietf] INFO: (IETF RFC 6234) Fetching from Relaton repository ...
[relaton-ietf] INFO: (IETF RFC 6960) Fetching from Relaton repository ...
[relaton-ietf] INFO: (IETF RFC 7231) Fetching from Relaton repository ...
[relaton-ietf] INFO: (IETF RFC 5035) Found: `RFC 5035`
[relaton-ietf] INFO: (IETF RFC 5480) Found: `RFC 5480`
... snip ...
```

@andrew2net It's the same repo as for issue #140: https://github.com/pdf-association/spec-pdf-core/
You already have access.


@petervwyatt I've enhanced thread safety in relaton-index. Please update relaton-index to the lates v0.2.18

I've run my project 4 times and the Ruby crash is no longer occurring. Thanks!
I can see things are multi-threaded as the relaton log messages from each run are not always in the same order.

However, I can also see that the same download is repeated up to 9 times...!! 
`grep "^\[relaton.*Download" bundle.log | sort`

I can also see that relaton messages are also repeated twice (as per my question in Issue #140) 

```
C:/Ruby33-x64/lib/ruby/gems/3.3.0/gems/nokogiri-1.18.10-x64-mingw-ucrt/lib/nokogiri/xml/node.rb:1201: warning: Exception in finalizer #<Tempfile::Remover:0x0000021c542a01d0 @pid=38832, @path="C:/Users/peter/AppData/Local/Temp/open-uri20260112-38832-q60abm">
C:/Ruby33-x64/lib/ruby/3.3.0/tempfile.rb:319:in `unlink': Permission denied @ apply2files - C:/Users/peter/AppData/Local/Temp/open-uri20260112-38832-q60abm (Errno::EACCES)
	from C:/Ruby33-x64/lib/ruby/3.3.0/tempfile.rb:319:in `call'
	from C:/Ruby33-x64/lib/ruby/gems/3.3.0/gems/nokogiri-1.18.10-x64-mingw-ucrt/lib/nokogiri/xml/node.rb:1201:in `each'
	from C:/Ruby33-x64/lib/ruby/gems/3.3.0/gems/nokogiri-1.18.10-x64-mingw-ucrt/lib/nokogiri/xml/node.rb:1201:in `each_with_object'
	from C:/Ruby33-x64/lib/ruby/gems/3.3.0/gems/nokogiri-1.18.10-x64-mingw-ucrt/lib/nokogiri/xml/node.rb:1201:in `namespaces'
	from C:/Ruby33-x64/lib/ruby/gems/3.3.0/gems/nokogiri-1.18.10-x64-mingw-ucrt/lib/nokogiri/xml/searchable.rb:223:in `extract_params'
	from C:/Ruby33-x64/lib/ruby/gems/3.3.0/gems/nokogiri-1.18.10-x64-mingw-ucrt/lib/nokogiri/xml/searchable.rb:55:in `search'
	from C:/Ruby33-x64/lib/ruby/gems/3.3.0/gems/nokogiri-1.18.10-x64-mingw-ucrt/lib/nokogiri/xml/searchable.rb:75:in `at'
	from C:/Ruby33-x64/lib/ruby/gems/3.3.0/gems/relaton-bib-1.20.7/lib/relaton_bib/xml_parser.rb:392:in `get_org'
	from C:/Ruby33-x64/lib/ruby/gems/3.3.0/gems/relaton-bib-1.20.7/lib/relaton_bib/xml_parser.rb:536:in `fetch_contribution_info'
	from C:/Ruby33-x64/lib/ruby/gems/3.3.0/gems/relaton-bib-1.20.7/lib/relaton_bib/xml_parser.rb:532:in `block in fetch_contributors'
	from C:/Ruby33-x64/lib/ruby/gems/3.3.0/gems/nokogiri-1.18.10-x64-mingw-ucrt/lib/nokogiri/xml/node_set.rb:237:in `block in each'
	from C:/Ruby33-x64/lib/ruby/gems/3.3.0/gems/nokogiri-1.18.10-x64-mingw-ucrt/lib/nokogiri/xml/node_set.rb:236:in `upto'
	from C:/Ruby33-x64/lib/ruby/gems/3.3.0/gems/nokogiri-1.18.10-x64-mingw-ucrt/lib/nokogiri/xml/node_set.rb:236:in `each'
	from C:/Ruby33-x64/lib/ruby/gems/3.3.0/gems/relaton-bib-1.20.7/lib/relaton_bib/xml_parser.rb:532:in `map'
	from C:/Ruby33-x64/lib/ruby/gems/3.3.0/gems/relaton-bib-1.20.7/lib/relaton_bib/xml_parser.rb:532:in `fetch_contributors'
	from C:/Ruby33-x64/lib/ruby/gems/3.3.0/gems/relaton-bib-1.20.7/lib/relaton_bib/xml_parser.rb:46:in `item_data'
	from C:/Ruby33-x64/lib/ruby/gems/3.3.0/gems/relaton-ietf-1.20.0/lib/relaton_ietf/xml_parser.rb:9:in `item_data'
	from C:/Ruby33-x64/lib/ruby/gems/3.3.0/gems/relaton-bib-1.20.7/lib/relaton_bib/xml_parser.rb:18:in `from_xml'
	from C:/Ruby33-x64/lib/ruby/gems/3.3.0/gems/relaton-ietf-1.20.0/lib/relaton_ietf/processor.rb:37:in `from_xml'
	from C:/Ruby33-x64/lib/ruby/gems/3.3.0/gems/relaton-1.20.1/lib/relaton/db.rb:359:in `bib_retval'
	from C:/Ruby33-x64/lib/ruby/gems/3.3.0/gems/relaton-1.20.1/lib/relaton/db.rb:389:in `check_bibliocache'
	from C:/Ruby33-x64/lib/ruby/gems/3.3.0/gems/relaton-1.20.1/lib/relaton/db.rb:70:in `fetch'
	from C:/Ruby33-x64/lib/ruby/gems/3.3.0/gems/relaton-1.20.1/lib/relaton/db.rb:112:in `block in fetch_async'
	from C:/Ruby33-x64/lib/ruby/gems/3.3.0/gems/relaton-1.20.1/lib/relaton/workers_pool.rb:11:in `block (2 levels) in initialize'
```

@andrew2net this problem may be because Windows temp files cannot be directly deleted or unlinked through Ruby, it will always crash.

We just need to exit the Tempfile loop without `File#unlink` or `File#close` and wait for Windows to remove the temp file itself in GC.


@petervwyatt I removed the TempFile usage in relaton-index. Please try v0.2.19

@opoudjis from my experience every reference seems to be fetched twice. You can try running any Metanorma document.

Furthermore, "blank reference tags" should not lead to Relaton.

@andrew2net - I've run MN multiple times now on different projects and the crash is no longer appearing. Thanks!

@petervwyatt @petervwyatt This warning is caused by Ruby’s garbage collector when it attempts to clean up temporary files. These temporary files are created by OpenURI, which is used in some Relaton gems. I’ll take some time to remove OpenURI from all Relaton gems. Since this is a warning, not a crash, you can ignore the log messages.

> [@opoudjis](https://github.com/opoudjis) from my experience every reference seems to be fetched twice. You can try running any Metanorma document.

```
= Document title
Author 
:docfile: test.adoc
:no-pdf:


[bibliography]
== Bibliography

* [[[A,ISO 639-2]]]
```

The console log is limited to:

```
[relaton-iso] INFO: (ISO 639-2) Fetching from Relaton repository ...
[relaton-iso] INFO: Downloaded index from `https://raw.githubusercontent.com/relaton/relaton-data-iso/main/index-v1.zip`
[relaton-iso] INFO: (ISO 639-2) Found: `ISO 639-2:1998`
```

I have not had the behaviour you are describing, and if I cannot replicate it, there is nothing for me to do. @ronaldtse  What do you get with that document?
